/* My variables */
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;
$black-12: #121212;
$black-19: #191919;
$black-25: #252525;
$black-555: #555;
$black-111: #111;

/* Custom Bootstrap variables */
$h2-font-size:          1.5rem;
$small-font-size:       85%;
$grid-gutter-width:     1rem;
$body-bg:               $black-12;
$yellow:                #dacb46;
$cyan:                  #46e1ff;
$link-color:            $cyan;
$link-hover-color:      $yellow;
$link-hover-decoration: none;
$body-color:            #bbb;

@import '../vendor/bootstrap-4.3.1/scss/bootstrap.scss';

/* Custom Bootstrap utility class */
a.text-info {
    @include hover-focus {
        color: $yellow !important;
    }
}

a.text-warning {
    @include hover-focus {
        color: $cyan !important;
    }
}

/* My utility class */
.bg-section {
    background-color: $black-19;
}

.text-silver {
    color: rgba($white, 0.8);
}

body {
    font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.movie {
    display: block;
    position: relative;
    margin-bottom: 0.75rem;
    .movie-img {
        position: relative;
        padding-top: 140%;
        overflow: hidden;
        &__inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &:hover {
            opacity: 0.7;
        }
    }
    .movie-status {
        position: absolute;
        color: $white;
        background: $red;
        font-size: 75%;
        text-shadow: 1px 1px 2px $black-111;
        left: 2px;
        top: 8px;
        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
        height: 24px;
        line-height: 24px;
        max-width: 85%;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -14px;
            width: 0;
            height: 0;
            border-color: transparent transparent transparent $red;
            border-style: solid;
            border-width: 12px 0 12px 14px;
        }
        span {
            display: inline-block;
            max-width: 100%;
        }
    }
}


.tag-list {
    li {
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
    .tag {
        position: relative;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 1em;
        font-size: $small-font-size;
        background-color: $black-25;
        border-radius: 0 3px 3px 0;
        color: $white;
        text-transform: capitalize;
        transition: .2s;
    
        &::before {
            position: absolute;
            top: 0;
            left: -15px;
            content: '';
            width: 0;
            height: 0;
            border-color: transparent $black-25 transparent transparent;
            border-style: solid;
            border-width: 15px 15px 15px 0;
            transition: .2s;
        }
    
        &::after {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 2;
            display: block;
            content: '';
            width: 6px;
            height: 6px;
            margin-top: -3px;
            background-color: $white;
            border-radius: 100%;
        }
    
        &:hover {
            background-color: $black-555;
            color: $white;
            &::before {
                border-right-color: $black-555;
            }
        }
    }
}